    <table class="table table-hover">
        <div class="p-3 row">
            <div class="p-0 col">
                <div class="p-0 row">
                    <div  class="col-lg-1 col-md-1 col-sm-3 col-1">
                   Exxxxxemption
                        {{ exemption.exemption_name}} 
                    </div>  
                    <div style="background-color:rgb(255, 255, 255);text-align: left;"class="col-lg-2 col-md-2 col-sm-3 col-2">
                      
                    </div>
                    <div  class="col-lg-2 col-md-2 col-sm-3 col-2">
                        
                    </div>  
                
                    <div style="text-align:right; background-color:rgb(255, 255, 255); text-align: right;" class="col-lg-7 col-md-7 col-sm-3 col-7">

                     
                    </div>
                    
                            
                            
                            
                           
                            
                </div>  
            </div>
        </div>
    </table>
