{% macro form_field(field, autofocus) %}

        {%- if field.type == 'BooleanField' %}  
              <div class="form-check mb-3">
                {{ field(class='form-check-input') }}
                {{ field.label(class='form-check-label') }}
              </div>


        {%- elif field.type == 'RadioField' %} 
              {{ field.label(class='form-label') }}
              {%- for item in field %}
                <div class="form-check{% if loop.last %} mb-3{% endif %}">
                  {{ item(class='form-check-input') }}
                  {{ item.label(class='form-check-label') }}
                </div>
              {%- endfor %}


        {%- elif field.type == 'SelectField' %} 
             
              {{ field.label(class='form-label') }}
              {{ field(class='form-select mb-3') }}


        {%- elif field.type == 'TextAreaField' %}
            <div class="mb-3">
              {{ field.label(class='form-label') }} 
               
              {% if autofocus %}
                {{ field(class='form-control' + (' is-invalid' if field.errors else ''), autofocus=True) }}
              {% else %}
                {{ field(class='form-control' + (' is-invalid' if field.errors else '')) }}
              {% endif %}
              {%- for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
              {%- endfor %}
            </div>


        {%- elif field.type == 'SubmitField' %}
            {{ field(class='btn btn-primary mb-3') }}


        {%- else %}
            <div class="mb-3">
              {{ field.label(class='form-label') }}
              {% if autofocus %}
                {{ field(class='form-control' + (' is-invalid' if field.errors else ''), autofocus=True) }}
              {% else %}
                {{ field(class='form-control' + (' is-invalid' if field.errors else '')) }}
              {% endif %}
              {%- for error in field.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {%- endfor %}
            </div>
        {%- endif %}

{% endmacro %}



{% macro survey_field(field, autofocus) %}
        {%- if field.type == 'BooleanField' %}  
              <div class="form-check mb-3">
                {{ field(class='form-check-input') }}
                {{ field.label(class='form-check-label') }}
              </div>


        {%- elif field.type == 'RadioField' %} 
              {{ field.label(class='form-label') }}
              {%- for item in field %}
                <div class="form-check{% if loop.last %} mb-3{% endif %}">
                  {{ item(class='form-check-input') }}
                  {{ item.label(class='form-check-label') }}
                </div>
              {%- endfor %}


        {%- elif field.type == 'SelectField' %} 
        <div class="row">
          <div style="text-align:right !important"class="col p-0">
            {{ field.label(class='form-label') }}
          </div>
          <div class="col">
            {{ field(class='form-select mb-3') }}
          </div>
        </div>
              

        {%- elif field.type == 'TextAreaField' %}
            <div class="mb-3">
              <!-- {{ field.label(class='form-label') }}  -->
               
              {% if autofocus %}
                {{ field(class='form-control' + (' is-invalid' if field.errors else ''), autofocus=True) }}
              {% else %}
                {{ field(class='form-control' + (' is-invalid' if field.errors else '')) }}
              {% endif %}
              {%- for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
              {%- endfor %}
            </div>

        {%- elif field.type == 'StringField' %}
            <div class="mb-3">
              <!-- {{ field.label(class='form-label') }}  -->
               
              {% if autofocus %}
                {{ field(class='form-control' + (' is-invalid' if field.errors else ''), autofocus=True) }}
              {% else %}
                {{ field(class='form-control' + (' is-invalid' if field.errors else '')) }}
              {% endif %}
              {%- for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
              {%- endfor %}
            </div>



        {%- elif field.type == 'SubmitField' %}
            {{ field(class='btn btn-primary mb-3') }}


        {%- else %}
           
            <div class="row">
              <div style="text-align:right !important" class="col">
                {{ field.label(class='form-label') }}
              </div>
              
              <div class="col">
                {% if autofocus %}
                  {{ field(class='form-control' + (' is-invalid' if field.errors else ''), autofocus=True) }}
                {% else %}
                  {{ field(class='form-control' + (' is-invalid' if field.errors else '')) }}
                {% endif %}
                {%- for error in field.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {%- endfor %}
              </div>
            </div>
        {%- endif %}

{% endmacro %}



{% macro three_col_row(middle_field, end_field) %}
    <div class="row pb-5">
      <div class="col-6">
          <p>
            {{ middle_field.description }}
          </p>
      </div>
      <div class="col ">
        {% set ns = namespace(first_field=true) %}
          {% if middle_field.widget.input_type != 'hidden' -%}
            {{ survey_field(middle_field, ns.first_field) }}
            {% set ns.first_field = false %}
          {%- endif %}
      </div>
      <div class="col ">
        {% set ns = namespace(first_field=true) %}
          {% if end_field.widget.input_type != 'hidden' -%}
            {{ survey_field(end_field, ns.first_field) }}
            {% set ns.first_field = false %}
          {%- endif %}
      </div>
    </div>
{% endmacro %}


{% macro three_col_row_extra_field(middle_field, end_field, extra_field) %}
    <div class="row">
      <div class="col-6">
          <p>
            {{ middle_field.description }}
          </p>
      </div>
      <div class="col">
        {% set ns = namespace(first_field=true) %}
          {% if middle_field.widget.input_type != 'hidden' -%}
            {{ survey_field(middle_field, ns.first_field) }}
            {% set ns.first_field = false %}
          {%- endif %}

        {% set ns = namespace(first_field=true) %}
        {% if extra_field.widget.input_type != 'hidden' -%}
          {{ survey_field(extra_field, ns.first_field) }}
          {% set ns.first_field = false %}
        {%- endif %}
      </div>
      <div class="col">
        {% set ns = namespace(first_field=true) %}
          {% if end_field.widget.input_type != 'hidden' -%}
            {{ survey_field(end_field, ns.first_field) }}
            {% set ns.first_field = false %}
          {%- endif %}
      </div>
    </div>
{% endmacro %}



{% macro single_col_row(field) %}
  <div class="row pb-5 align-items-end">
    <div class="col">
        
          {% set ns = namespace(first_field=true) %}
          {% if field.widget.input_type != 'hidden' -%}
            {{ survey_field(field, ns.first_field) }}
            {% set ns.first_field = false %}
          {%- endif %}
        
    </div>
  </div>
{% endmacro %}



{% macro banner(left,middle,right) %}
    <div class="row pb-2">
            <div class="col-6">
              {{ left }}
            </div>
            <div class="col ">
              {{ middle }}
            </div>
            <div class="col ">
              {{ right }}
            </div>
    </div>
    <hr>
{% endmacro %}

{% macro exemption_row(e1,e2,e3,e4,e5) %}
    <div class="row pb-5">
      <div class="col">
        {% set ns = namespace(first_field=true) %}
          {% if e1.widget.input_type != 'hidden' -%}
            {{ survey_field(e1, ns.first_field) }}
            {% set ns.first_field = false %}
          {%- endif %}
      </div>
      <div class="col">
        {% set ns = namespace(first_field=true) %}
          {% if e2.widget.input_type != 'hidden' -%}
            {{ survey_field(e2, ns.first_field) }}
            {% set ns.first_field = false %}
          {%- endif %}
      </div>
      <div class="col">
        {% set ns = namespace(first_field=true) %}
          {% if e3.widget.input_type != 'hidden' -%}
            {{ survey_field(e3, ns.first_field) }}
            {% set ns.first_field = false %}
          {%- endif %}
      </div>
      <div class="col">
        {% set ns = namespace(first_field=true) %}
          {% if e4.widget.input_type != 'hidden' -%}
            {{ survey_field(e4, ns.first_field) }}
            {% set ns.first_field = false %}
          {%- endif %}
      </div>
      <div class="col">
          {% set ns = namespace(first_field=true) %}
          {% if e5.widget.input_type != 'hidden' -%}
            {{ survey_field(e5, ns.first_field) }}
            {% set ns.first_field = false %}
          {%- endif %}
      </div>
    </div>
    <hr>
{% endmacro %}



{% macro quick_form(form, action="", method="post", id="", novalidate=False) %}
    <form
      {%- if action != None %} action="{{ action }}"{% endif -%}
      {%- if method %} method="{{ method }}"{% endif %}
      {%- if id %} id="{{ id }}"{% endif -%}
      {%- if novalidate %} novalidate{% endif -%}>
      {{ form.hidden_tag() }}
      {%- for field, errors in form.errors.items() %}
        {%- if form[field].widget.input_type == 'hidden' %}
          {%- for error in errors %}
          <div class="invalid-feedback">{{ error }}</div>
          {%- endfor %}
        {%- endif %}
      {%- endfor %}

      {% set ns = namespace(first_field=true) %}
      {%- for field in form %}
        {% if field.widget.input_type != 'hidden' -%}
          {{ form_field(field, ns.first_field) }}
          {% set ns.first_field = false %}
        {%- endif %}
      {%- endfor %}  
    </form>
{% endmacro %}



{% macro survey_form(form1,form2,exemptions, action="", method="post", id="", novalidate=False) %}
    <form
      {%- if action != None %} action="{{ action }}"{% endif -%}
      {%- if method %} method="{{ method }}"{% endif %}
      {%- if id %} id="{{ id }}"{% endif -%}
      {%- if novalidate %} novalidate{% endif -%}>
      {{ form1.hidden_tag() }}
      {%- for field, errors in form1.errors.items() %}
        {%- if form1[field].widget.input_type == 'hidden' %}
          {%- for error in errors %}
          <div class="invalid-feedback">{{ error }}</div>
          {%- endfor %}
        {%- endif %}
      {%- endfor %}

      {% set ns = namespace(first_field=true) %}

      <div class="container">

              {{ single_col_row(form1.survey_name)}}
              {{ banner("","","Notes") }}
              {{ three_col_row(form1.field1, form1.comment1)}}
              {{ three_col_row(form1.field2, form1.comment2)}}
              {{ three_col_row(form1.field3, form1.comment3)}}
              {{ three_col_row(form1.field4, form1.comment4)}}
              {{ three_col_row(form1.field5, form1.comment5)}}
              {{ three_col_row(form1.field6, form1.comment6)}}
              {{ three_col_row(form1.field7, form1.comment7)}}
              {{ three_col_row(form1.field8, form1.comment8)}}
              {{ three_col_row(form1.field9, form1.comment9)}}
              {{ three_col_row(form1.field10, form1.comment10)}}
              {{ three_col_row_extra_field(form1.field11, form1.comment12, form1.field12)}}
              {{ three_col_row(form1.field13, form1.comment13)}}
              {{ banner("Exemptions","","") }}
              {{ exemption_row(form2.exemption_name, form2.exemption_instance, form2.exemption_multiplier, form2.exemption_time,form2.submit) }}
              <div class="row pb-5">
                        {% for exemption in exemptions %}
                        {% include '_exemption.html' %}
                      {% endfor %}
              </div>
              <hr>
              {{ three_col_row(form1.field14, form1.comment14)}}
              {{ three_col_row(form1.field15, form1.comment15)}}
              {{ three_col_row(form1.field16, form1.comment16)}}
              {{ three_col_row(form1.field17, form1.comment17)}}
              {{ three_col_row(form1.field18, form1.comment18)}}
              {{ three_col_row(form1.field19, form1.comment19)}}
              {{ single_col_row(form1.result)}}
              {{ single_col_row(form1.submit)}}
    
      </div>
    
    </form>
{% endmacro %}






{% macro new_survey_form(form, action="", method="post", id="", novalidate=False) %}
    <form
      {%- if action != None %} action="{{ action }}"{% endif -%}
      {%- if method %} method="{{ method }}"{% endif %}
      {%- if id %} id="{{ id }}"{% endif -%}
      {%- if novalidate %} novalidate{% endif -%}>
      {{ form.hidden_tag() }}
      {%- for field, errors in form.errors.items() %}
        {%- if form[field].widget.input_type == 'hidden' %}
          {%- for error in errors %}
          <div class="invalid-feedback">{{ error }}</div>
          {%- endfor %}
        {%- endif %}
      {%- endfor %}

      {% set ns = namespace(first_field=true) %}

          <div class="container">
              <div class="row pb-5 align-items-end">
                    <div class="p-4 col">
                        New survey:
                    </div>
                    <div class="col">
                        
                          {% set ns = namespace(first_field=true) %}
                          {% if form.survey_name.widget.input_type != 'hidden' -%}
                            {{ survey_field(form.survey_name, ns.first_field) }}
                            {% set ns.first_field = false %}
                          {%- endif %}
                    </div>
                  
                    <div class="col">
                        {% set ns = namespace(first_field=true) %}
                          {% if form.submit.widget.input_type != 'hidden' -%}
                            {{ survey_field(form.submit, ns.first_field) }}
                            {% set ns.first_field = false %}
                          {%- endif %}
                    </div>
              </div>
          </div>

    </form>
{% endmacro %}


